accelerate==0.34.2
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
bitsandbytes==0.45.2
datasets==3.0.1
faiss==1.9.0
faiss-cpu==1.9.0.post1
fastapi==0.115.2
huggingface-hub==0.25.1
langchain==0.3.18
langchain-community==0.3.17
lightgbm==4.5.0
numpy==1.26.4
peft==0.13.0
safetensors==0.4.5
scipy==1.15.1
starlette==0.40.0
sympy==1.13.1
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.48.3
triton==3.1.0
trl==0.11.2
unsloth==2025.2.5
unsloth_zoo==2025.2.5